body {
  background: #f4f6f9;
  margin: 0;
  font-family: Arial, sans-serif;
}

.account-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.accounts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.account-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  z-index: 0;
}

.account-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.create-section {
  text-align: center;
}

.create-btn {
  padding: 12px 25px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.create-btn:hover {
  background: #1e40af;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.create-form select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.create-form button {
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.create-form button[type="submit"] {
  background: #16a34a;
  color: white;
}

.cancel-btn {
  background: #dc2626;
  color: white;
}


.success {
  background: #16a34a;
}

.error {
  background: #dc2626;
}

/* ---------- Tablet Responsive ---------- */
@media (max-width: 992px) {

  .account-container {
    margin: 30px 20px;
  }

  .create-form {
    width: 50%;
    margin: 0 auto;
  }

  .accounts-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

/* ---------- Mobile Responsive ---------- */
@media (max-width: 600px) {

  .account-container {
    margin: 20px 12px;
    padding: 15px;
  }

  .title {
    font-size: 18px;
  }

  .accounts-grid {
    grid-template-columns: 1fr;
  }

  .account-card {
    padding: 15px;
  }

  .create-btn {
    width: 100%;
  }

  .create-form {
    width: 100%;
    margin-top: 20px;
  }

  .create-form select,
  .create-form input {
    width: 100%;
    margin-bottom: 12px;
  }

  .create-form button {
    width: 100%;
    margin-bottom: 10px;
  }


}